@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --color-brand-bg: #0B0E14;
  --color-brand-bg-light: #161B22;
  --color-brand-surface: #111827;
  --color-brand-card: #1f2937;
  --color-brand-primary: #22D3EE;
  --color-brand-primary-yellow: #FACC15;
  --color-brand-secondary: #FB7185;
  --color-brand-accent: #A855F7;
  --color-brand-muted: #94A3B8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
