name: Build & Deploy Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build & push backend image
      run: |
        docker buildx build \
          --platform linux/arm64 \
          -t ghcr.io/${{ github.repository }}/backend:latest \
          server \
          --push

    - name: Build & push frontend image
      run: |
        docker buildx build \
          --platform linux/arm64 \
          -t ghcr.io/${{ github.repository }}/frontend:latest \
          client-app \
          --push
